<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12 ">
                                <h4 class="title">Datos de Envio

                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Seleccione Cliente</h5>
                                <model-select :options="clientes" v-model="cliente" placeholder="seleccione cliente" @change="changedValue" @selected="changedLabel">
                                </model-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>seleccione Producto</label>
                                <basic-select class="form-control" :options="productos" :selected-option="item" v-model="item" placeholder="select item"
                                    @select="onSelect">
                                </basic-select>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Codigo</label>
                                        <input class="form-control" type="text" placeholder="Ingrese descripción" v-model="product.codigo" disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Descripción</label>
                                        <input class="form-control" type="text" placeholder="Ingrese descripción" v-model="product.descripcion" disabled>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Cantidad</label>
                                        <input class="form-control" type="text" placeholder="Ingrese cantidad" v-model="product.cantidad">
                                    </div>
                                    <div class="col-md-6">
                                        <label>Costo por unidad</label>
                                        <input class="form-control" type="text" placeholder="Ingrese costo por unidad" v-model="product.costo">

                                    </div>
                                    <div class="col-md-6">
                                        <br>
                                        <button class="btn btn-info btn-fill" @click="addproduct()">
                                            Agregar
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="table-responsive">
                                            <el-table class="table-shopping" :summary-method="getSummaries" show-summary style="width: 100%" :data="productsTable">
                                                <el-table-column class="td-price" min-width="50" label="Id">
                                                    <template slot-scope="props">
                                                        <strong>{{props.row.codigo}}</strong>
                                                    </template>
                                                </el-table-column>

                                                <el-table-column class="td-price" min-width="120" label="Descripción">
                                                    <template slot-scope="props">
                                                        <strong>{{props.row.descripcion}}</strong>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column class="td-price" min-width="100" label="Precio">
                                                    <template slot-scope="props">
                                                        <small>&euro;</small> {{props.row.costo}}
                                                    </template>
                                                </el-table-column>
                                                <el-table-column class="td-number td-quantity text-center" min-width="100" label="Cantidad">
                                                    <template slot-scope="props">
                                                        {{props.row.cantidad}}
                                                        <div class="btn-group">
                                                            <button class="btn btn-sm" @click="props.row.cantidad > 0 ? props.row.cantidad-- : 0">
                                                                <i class="nc-icon nc-simple-delete"></i>
                                                            </button>
                                                            <button class="btn btn-sm" @click="props.row.cantidad++">
                                                                <i class="nc-icon nc-simple-add"></i>
                                                            </button>
                                                        </div>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column class="td-number td-quantity" min-width="120" label="Impuesto">
                                                    <template slot-scope="props">
                                                        <el-radio-group v-model="props.row.tip_afe_igv">
                                                            <el-radio :label="10">C</el-radio>
                                                            <el-radio :label="20">S</el-radio>
                                                        </el-radio-group>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column class="td-number td-quantity" min-width="100" label="Oper.">
                                                    <template slot-scope="props">
                                                        <el-button type="text" @click.native.prevent="deleteRow(props.$index, productsTable)" size="small">
                                                            <i class="fas fa-times"></i>
                                                        </el-button>
                                                    </template>
                                                </el-table-column>
                                                <el-table-column label="Total" min-width="100">
                                                    <template slot-scope="props">
                                                        <strong>
                                                            <small>&euro;</small> {{props.row.total = props.row.cantidad * props.row.costo}}
                                                        </strong>
                                                    </template>
                                                </el-table-column>
                                            </el-table>
                                            <div class="container">
                                                <div class="row ">
                                                    <div class="col-md-6">
                                                        <label>Gravado: {{ this.gravado}}</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text-left">IGV: {{ this.igv }}</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="btn btn-info btn-fill btn-wd" @click="env_factura()">
                                                Enviar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-12 ">
                                <h4 class="title">Datos adicionales </h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Seleccione Cliente</h5>
                                        <el-select v-model="ModalidadTraslado" filterable placeholder="Select">
                                            <el-option v-for="item in ModalidadTraslados" :key="item.value" :label="item.text" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Seleccione Proveedor</h5>
                                        <el-select v-model="proveedor" filterable placeholder="Select" @change="changedValue" @selected="changedLabel">
                                            <el-option v-for="item in proveedores" :key="item.value" :label="item.text" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Seleccione Conductor</h5>
                                        <el-select v-model="conductor" filterable placeholder="Select" @change="changedValue" @selected="changedLabel">
                                            <el-option v-for="item in conductores" :key="item.value" :label="item.text" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Seleccione Vehiculo</h5>
                                        <el-select v-model="vehiculo" filterable placeholder="Select" @change="changedValue" @selected="changedLabel">
                                            <el-option v-for="item in vehiculos" :key="item.value" :label="item.text" :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Monto</h5>
                                        <input class="form-control" type="text" placeholder="Ingrese Monto" v-model="transporte.ingreso">
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Fecha de Envio</h5>
                                        <el-date-picker type="date" v-model="transporte.fechaEnvio" placeholder="Fecha de Embarque">
                                        </el-date-picker>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Punto de Partida</h5>
                                        <input class="form-control" type="text" placeholder="Ingrese Monto" v-model="transporte.partida">
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Punto de llegada</h5>
                                        <input class="form-control" type="text" placeholder="Ingrese Monto" v-model="transporte.llegada">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>